<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <h1>首页</h1>
    <a th:href="@{/testRequestServletAPI}">测试servletAPI向request域对象共享数据</a><br>
    <a th:href="@{/testModelAndView}">测试modelAndView向request域对象共享数据</a><br>
    <a th:href="@{/testModel}">测试model向request域对象共享数据</a><br>
    <a th:href="@{/testMap}">测试map向request域对象共享数据</a><br>
    <a th:href="@{/testModelMap}">测试ModelMap向request域对象共享数据</a><br>
    <a th:href="@{/testSession}">测试servletAPI向session域对象共享数据</a><br>
</body>
</html>